.cell {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--empty-cell);
  cursor: pointer;
  transition: 300ms;
}

.cell:hover {
  opacity: 60%;
}

.cell.occupied {
  background-color: var(--ship-color);
}

.cell.occupied.attacked {
  background-color: var(--ship-hit-color);
}

.cell p {
  color: var(--background-color);
  font-family: "Material Icons";
  font-size: 10px;
}

.cell.occupied p {
  color: white;
  font-size: 20px;
  font-style: bold;
}
