header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding-top: 20px;
}

header .logo {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-bottom: 15px;
  border-bottom: 3px solid var(--empty-cell);
}

header h1 {
  color: var(--empty-cell);
  font-family: "Cutive Mono", monospace;
  font-size: 36px;
  font-weight: bold;

  margin-left: 24px;
}
